<div class="container-fluid">
    <div class="row conference-view-outer-container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="conference-info">
                            {{conference-header conf=model.conf}}
                            {{conference-add-submission conf=model.conf}}
                            {{conference-submissions conf=model.conf allSubmissions=model.allSubmissions}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}
